# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Build
# -----------------------------
build/
dist/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db